@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
	padding: 0;
	margin: 0;
	background: black;
	overflow: hidden;
}

.network{
	font-family: 'Roboto', sans-serif;
	font-style: bolder;
	font-weight: 1000;
	color: white;
	font-size: 60px;
	position: absolute;
	top: 140px;
	left: 540px;
	letter-spacing: px;
}

.search{
	position: absolute;
	top: 300px;
	left: 390px;
	width: 510px;
	height: 40px;
	padding-left: 20px;
	border-radius: 20px;
	border-width: 2px;
	font-family: arial;
	font-weight: bold;
	font-style: bold;
	outline: none;
	display: block;
}

.youtubelogo{
	width: 30px;
	position: absolute;
	top: 370px;
	left: 480px;
}

.youtube{
	width: 30px;
	position: absolute;
	top: 395px;
	left: 463px;
	font-family: arial;
	font-weight: bold;
	font-style: bold;
	color: rgb(140, 140, 140);
	text-decoration: none;
}

.youtube:hover{
	width: 30px;
	position: absolute;
	top: 395px;
	left: 463px;
	font-family: arial;
	font-weight: bold;
	font-style: bold;
	color: #7289DA;
	text-decoration: none;
	transition: 0.1s;
}

.gmaillogo{
	width: 30px;
	position: absolute;
	top: 369px;
	left: 640px;
}

.gmail{
	width: 30px;
	position: absolute;
	top: 398px;
	left: 633px;
	font-family: arial;
	font-weight: bold;
	font-style: bold;
	color: rgb(140, 140, 140);
	text-decoration: none;
}

.gmail:hover{
	width: 30px;
	position: absolute;
	top: 398px;
	left: 633px;
	font-family: arial;
	font-weight: bold;
	font-style: bold;
	color: #7289DA;
	text-decoration: none;
	transition: 0.1s;
}

.discordlogo{
	width: 37px;
	position: absolute;
	top: 368px;
	left: 805px;
}

.discord{
	width: 30px;
	position: absolute;
	top: 400px;
	left: 793px;
	font-family: arial;
	font-weight: bold;
	font-style: bold;
	color: rgb(140, 140, 140);
	text-decoration: none;
}

.discord:hover{
	width: 30px;
	position: absolute;
	top: 400px;
	left: 793px;
	font-family: arial;
	font-weight: bold;
	font-style: bold;
	color: #7289DA;
	text-decoration: none;
	transition: 0.1s;
}

.copyright{
	position: absolute;
	bottom: 5px;
	left: 10px;
	color: rgb(140, 140, 140);
	font-family: arial;
	font-style: bold;
	font-weight: bold;
    font-size: 10px;
}

.bottom1{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 1366px;
	height: 80px;
	background: rgb(24, 24, 24);
	border-width: 1px;
	border-color: black;
}

.ro{
	position: absolute;
	top: 10px;
	right: 10px;
	font-family: calibri;
	color: white;
	font-style: bold;
	font-weight: bold;
	text-decoration: none;
}

.grey{
	font-family: arial;
	text-decoration: none;
	color: rgb(100, 100, 100);
	position: absolute;
	bottom: 13px;
	left: 30px;
	z-index: 1;
	font-size: 15px;
}

.grey:hover{
	font-family: arial;
	text-decoration: none;
	color: rgb(160, 160, 160);
	position: absolute;
	bottom: 13px;
	left: 30px;
	z-index: 1;
	font-size: 15px;
	cursor: pointer;
}

.grey2{
	font-family: arial;
	text-decoration: none;
	color: rgb(100, 100, 100);
	position: absolute;
	bottom: 13px;
	right: 30px;
	z-index: 1;
	font-size: 15px;
}

.grey2:hover{
	font-family: arial;
	text-decoration: none;
	color: rgb(160, 160, 160);
	position: absolute;
	bottom: 13px;
	right: 30px;
	z-index: 1;
	font-size: 15px;
	cursor: pointer;
}

.grey4{
	font-family: arial;
	text-decoration: none;
	color: rgb(100, 100, 100);
	position: absolute;
	bottom: 13px;
	left: 90px;
	z-index: 1;
	font-size: 15px;
}

.grey4:hover{
	font-family: arial;
	text-decoration: none;
	color: rgb(160, 160, 160);
	position: absolute;
	bottom: 13px;
	left: 90px;
	z-index: 1;
	font-size: 15px;
	cursor: pointer;
}


.lang{
	font-family: arial;
	text-decoration: none;
	color: rgb(100, 100, 100);
	position: absolute;
	bottom: 43px;
	left: 30px;
	z-index: 1;
	font-size: 15px;
}

.settingicon{
	position: absolute;
	width: 30px;
}

.settingicon2{
	position: absolute;
	width: 30px;
}

.ul2{
	position: absolute;
	border-radius: 2px;
	border-top-left-radius: 2px;
	top: -6px;
	right: -6px;
	width: 100px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;
	font-family: Arial;
	font-style: bold;
	font-weight: bold;

}

.ul2 .li2{
	list-style: none;
	width: 100px;
	height: 60px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
}
.ul2.active .li2{
	transform: translateY(-30px);
}
.ul2 .li2 span{
	display: block;
	height: 30px;
	line-height: 30px;
	width: 100px;
	background: white;
	color: #262626;
	border-radius: 5px;
}

.ul2 .li2 span:nth-child(1){
    background: white;
    color: white;
    border-radius: 5px;

}
