@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
	padding: 0;
	margin: 0;
	background: ;
			user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

.network{
	font-family: 'Roboto', sans-serif;
	font-style: bolder;
	font-weight: 1000;
	
	font-size: 60px;
	position: absolute;
	top: 140px;
	left: 540px;
	letter-spacing: px;
}

.search{
	position: absolute;
	top: 300px;
	left: 390px;
	width: 510px;
	height: 40px;
	padding-left: 20px;
	border-radius: 20px;
	border-width: 2px;
	font-family: arial;
	font-weight: bold;
	font-style: bold;
	outline: none;
	display: block;
}

.youtubelogo{
	width: 30px;
	position: absolute;
	top: 370px;
	left: 480px;
}	

.youtube{
	width: 30px;
	position: absolute;
	top: 395px;
	left: 463px;
	font-family: arial;
	font-weight: bold;
	font-style: bold;
	color: rgb(37, 37, 37);
	text-decoration: none;
}	

.youtube:hover{
	width: 30px;
	position: absolute;
	top: 395px;
	left: 463px;
	font-family: arial;
	font-weight: bold;
	font-style: bold;
	color: #7289DA;
	text-decoration: none;
	transition: 0.1s;
}

.gmaillogo{
	width: 30px;
	position: absolute;
	top: 369px;
	left: 640px;
}	

.gmail{
	width: 30px;
	position: absolute;
	top: 398px;
	left: 633px;
	font-family: arial;
	font-weight: bold;
	font-style: bold;
	color: rgb(37, 37, 37);
	text-decoration: none;
}	

.gmail:hover{
	width: 30px;
	position: absolute;
	top: 398px;
	left: 633px;
	font-family: arial;
	font-weight: bold;
	font-style: bold;
	color: #7289DA;
	text-decoration: none;
	transition: 0.1s;
}		

.discordlogo{
	width: 37px;
	position: absolute;
	top: 368px;
	left: 805px;
}	

.discord{
	width: 30px;
	position: absolute;
	top: 400px;
	left: 793px;
	font-family: arial;
	font-weight: bold;
	font-style: bold;
	color: rgb(37, 37, 37);
	text-decoration: none;
}	

.discord:hover{
	width: 30px;
	position: absolute;
	top: 400px;
	left: 793px;
	font-family: arial;
	font-weight: bold;
	font-style: bold;
	color: #7289DA;
	text-decoration: none;
	transition: 0.1s;
}	

.copyright{
	position: absolute;
	bottom: 5px;
	left: 10px;
	color: rgb(140, 140, 140);
	font-family: arial;
	font-style: bold;
	font-weight: bold;
    font-size: 10px;
}

.bottom1{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 1366px;
	height: 80px;
	background: rgb(234, 234, 234);
	border-width: 1px;
	border-color: black;
}

ul{
	position: absolute;
	border-radius: 2px;
	border-top-left-radius: 2px;
	top: 210px;
	right: 502px;
	width: 100px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;
	font-family: Arial;
	font-style: bold;
	font-weight: bold;

}

ul li{
	list-style: none;
	width: 100px;
	height: 60px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
}
ul.active li{
	transform: translateY(-30px);
}
ul li span{
	display: block;
	height: 30px;
	line-height: 30px;
	width: 100px;
	background: white;
	color: #262626;
	border-radius: 5px;
}

ul li span:nth-child(1){
    background: white;
    color: white;
    border-radius: 5px;
	
}

.england{
	width: 30px;
}

.ro{
	width: 30px;
}

.grey{
	font-family: arial;
	text-decoration: none;
	color: rgb(100, 100, 100);
	position: absolute;
	bottom: 13px;
	left: 30px;
	z-index: 1;
	font-size: 15px;
}

.grey:hover{
	font-family: arial;
	text-decoration: none;
	color: rgb(60, 60, 60);
	position: absolute;
	bottom: 13px;
	left: 30px;
	z-index: 1;
	font-size: 15px;
	cursor: pointer;
}

.grey2{
	font-family: arial;
	text-decoration: none;
	color: rgb(100, 100, 100);
	position: absolute;
	bottom: 13px;
	right: 30px;
	z-index: 1;
	font-size: 15px;
}

.grey2:hover{
	font-family: arial;
	text-decoration: none;
	color: rgb(60, 60, 60);
	position: absolute;
	bottom: 13px;
	right: 30px;
	z-index: 1;
	font-size: 15px;
	cursor: pointer;
}


.lang{
	font-family: arial;
	text-decoration: none;
	color: rgb(100, 100, 100);
	position: absolute;
	bottom: 43px;
	left: 30px;
	z-index: 1;
	font-size: 15px;
}


